// SETTINGS
@import 'fonts';

$font_main: 'akzidenz-grotesk',
serif;

$color_blue: #0084FF;
$color_blueGrey: #656588;
$color_blueGreyLight: #B5B5D9;
$color_blueGreyBg: #F5F5F8;
$color_darker: #262631;

@mixin outerGaps {
  padding-left: 16px;
  padding-right: 16px;
}


body {
  width: 100%;
  min-height: 100%;

  font-family: $font_main;
  color: $color_darker;
  font-weight: 400;
  width: 100%;


  * {
    box-sizing: border-box;
  }

}


.o-app {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  
}

.o-page {
  width: 100%;
  min-height: 100%;
  background-color: #fff;
}

.o-page.PUSH {
  &.fade-exit {
    position: absolute;
    opacity: 1;
    z-index: 1;
  }
  &.fade-exit.fade-exit-active {
    opacity: 0.5;
    transition: all 0.75s cubic-bezier(0.25, 0, 0, 1);
  }
  &.fade-enter{
    position: absolute;
    z-index: 2;
    transform: translateX(100%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  }
  &.fade-enter.fade-enter-active{
    transform: translateX(0%);
    transition: all 0.75s cubic-bezier(0.25, 0, 0, 1);
  }
}

.o-page.POP {
  &.fade-exit {
    position: absolute;
    z-index: 2;
    transform: translateX(0%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  }
  &.fade-exit.fade-exit-active {
    transform: translateX(100%);
    transition: all 0.75s cubic-bezier(0.25, 0, 0, 1);
  }
  &.fade-enter{
    position: absolute;
    opacity: 0.5;
    z-index: 1;
  }
  &.fade-enter.fade-enter-active{
    opacity: 1;
    transition: all 0.75s cubic-bezier(0.25, 0, 0, 1);
  }
}

.c-topbar {
  padding-top: 64px;

  // &::before {
  //   content: ' ';
  //   width: 100%;
  //   height: 64px;
  //   display: block;
  // }

  .c-topbar-container {
    @include outerGaps();
    position: fixed;
    height: 64px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 99;
    border-bottom: 1px solid $color_blueGreyBg;
  }

  .c-topbar-title {
    font-size: 24px;
    color: $color_darker;
    font-weight: 300;
  }

  .c-topbar-iconwrapper {
    margin-left: auto;
  }

  .c-topbar-iconback {
    height: 32px;
    width: 10px;
    margin-right: 12px;
  }

  .c-topbar-icon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    box-shadow: none;

    & > img {
      width: 100%;
      height: 100%;
    }
  }
}

/* ListItem.js */

.c-listitem {
  height: 42px;
  @include outerGaps();
  display: flex;
  justify-content: flex-start;
  align-items: center;

  // &:focus {
  //   background-color: $color_blueGreyBg;
  // }


  .c-listitem-text {
    transition: all .3s ease-in-out;
    font-size: 16px;
    font-weight: 400;

    & > span {
      position: relative;
      &::before {
        transition: all .5s ease-in-out;
        content: ' ';
        position: absolute;
        left: 0;
        top: 10px;
        height: 1px;
        width: 0%;
        background-color: $color_darker;
      }
    }
  }

  .c-listitem-stateicon {
    transition: all .3s ease-in-out;
    opacity: 1;
    position: relative;
    top: 1px;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    .a, .b {
      content: ' ';
      background-color: $color_darker;
      transform-origin: top left;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 11px;
      border-radius: 2px;
      transition: all .3s ease-in-out;
    }

    
  }

  &.--list {
    .c-listitem-stateicon {
      .a { width: 12px; transform: translate(0px, 5px); }
      .b { width: 12px; transform: translate(0px, 5px); }
    }
  }

  &.--checked {
    .c-listitem-stateicon {
      .a { width: 6px; transform: rotate(45deg) translate(4px, 2px); }
      .b { width: 12px; transform: rotate(-45deg) translate(-4px, 8px); }
    }
  }

  &.--checked-opacity {
    .c-listitem-stateicon {
      opacity: 0.2;
      .a { width: 6px; transform: rotate(45deg) translate(4px, 2px); }
      .b { width: 12px; transform: rotate(-45deg) translate(-4px, 8px); }
    }
    .c-listitem-text {
      opacity: 0.5;
      & > span {
        &::before {
          width: 100%;
        }
      }
    }
  }

  &.--plus-opacity {
    .c-listitem-stateicon {
      opacity: 0.2;
      .a { width: 12px; transform: rotate(90deg) translate(1px, -8px); }
      .b { width: 12px; transform: rotate(0deg) translate(1px, 6px); }
    }
  }
}
